<h3>Match SugarCRM fields with Smarthseet column</h3>
<ul id="list-field">
	<li class="unmatched">
		<span class="name">name</span><span class="type">String</span>
	</li>
	<li class="matched">
		<span class="name">date_start</span><span class="type">Datetime</span>
	</li>
</ul>
<ul id="list-column">
	<li class="unmatched">
		<span class="name">name</span><span class="type">String</span>
	</li>
	<li class="matched">
		<span class="name">date_start</span><span class="type">Datetime</span>
	</li>
</ul>